.con{
    width: 100%;
    height: 70vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-align: center;
    text-transform: uppercase;
    position: relative;
    
    
}
h1{
   
    background-repeat: repeat; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 300px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
} 

/* .ban{
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 5px;
    z-index: -1;
    

   
}
img{
    width: 100%;
    height: 100%;
} */
.con-reg{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    flex-wrap: wrap;
    gap: 40px;
}
table{
    border: 1px solid white;
    color: white;
    text-align: center;
}
th{
    text-transform: uppercase;
    font-size: 15px;    
}
.btn-del{
    width: 100%;
    height: 100%;
}
select{
    background: #000;
    color: white;
    width: 20%;
    margin-top: 10px;
    font-size: 20px;
}
.input-text{
    background: #000;
    color: white;
    width: 30%;
    margin-top: 10px;
    font-size: 20px;
}
